/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollhidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollhidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
